body {
    background-color: #eaf4f4;
}

.container {
    /* background-color: #eff6e0; */
    margin-top: 100px;
    margin-bottom: 100px;

}
 .jumbotron {
     background-color: #f1faee;
     color: #db3a34;
    background-image: url(./assets/shibu_inu.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
     background-position: top;
     background-size: contain;
     padding-top: 50px;
     margin-top: 100px;
     margin-bottom: 100px;
     padding: 100px;
     /* height: 20em; */

     box-shadow: 10px 10px 5px 0px rgba(59, 59, 59, 0.75);
 }

 /* .Shibu {
     background-image: url(./assets/Shibu.jpg);
 } */


 
