@font-face {
    font-family: Fugaz;
    src: url(assets/FugazOne-Regular.ttf);
}

@font-face {
    font-family: Rubik-Regular;
    src: url(assets/Rubik-Regular.ttf);
}

nav {
    max-width: 100%;
    /* margin: 0 0 10px 0; */
    padding: 15px;
    
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

nav ul li .custom-link {
    border: 0;
    color: white;
    text-transform: uppercase;
    font-size: 100%;
    cursor: pointer;
}

nav ul li .custom-link:hover {
    color: #72ddf7;
}

.banner {
    background-image: url("assets/dachshund.jpg");
    
    opacity: 0.8;
    height: 100vh;
    background-size: cover;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: block;
    text-align: left;
    position: relative;
}

.banner h1 {
    text-align: center;
    margin: -70px;
    /* margin-left: 200px; */
    padding: 80px;
    color: #e21c70;
    /* opacity: 0.8; */
    font-size: 100px;
    text-shadow: 2px 2px 4px #000000;
}

.banner h3 {
    text-align: center;
    padding: 10px;
    margin-top: -95px;
    margin-left: 400px;
    color: #717ec3;
    /* opacity: 0.8; */
    font-family: "Rubik-Regular";
    font-size: 30px;
    
}

.customCard {
    background-color: #e7ecef;
    height: 150px;
    width: 150px;
    /* float: left; */
    padding: 10px;
    margin: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.customCard:hover {
    background-color: #a3cef1;
}

.cardContainer {
    width: 180px;
    float: left;
    padding: 10px;
}

 /* .jumbotron {
    font-family: 'Fugaz';
    background-color: #edf2f4;
     color: #fe4f36;
    background-image: url(./assets/shibu_inu.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
     background-position: top;
     background-size: contain;
     padding-top: 50px;
     margin-top: 50px;
     margin-bottom: 100px;
     padding: 100px;
     height: 15em;

     box-shadow: 0 4px 10px 0 rgb(0 0 0 / 20%), 0 4px 20px 0 rgb(0 0 0 / 19%);
 }  */

h1, h2, h3, h4 {
    font-family: 'Fugaz';
    color: #717ec3;
    text-shadow: 2px 2px 4px #b8b4b4;
}
