@font-face {
    font-family: Fugaz;
    src: url(assets/FugazOne-Regular.ttf);
}

@font-face {
    font-family: Rubik-Regular;
    src: url(assets/Rubik-Regular.ttf);
}

:root{
    --sidebar-flex:1.5;
    --condiv-flex:6;
    --fontsize-p:1.2rem;
    --fontsize-nav:1.6rem;
    --typing-font:3rem;
}

* {
    margin:0;
    padding:0;
}

.App {
    display: flex;
    width: 100vw;
    min-height: 100vh;
}

.condiv {
    padding: 100px;
    flex:var(--condiv-flex);
}

nav {
    padding: 60px 30px 0px 30px;
    flex:var(--sidebar-flex);
    background:violet;
}

nav ul {
    font-size: var(--font-nav);
    text-align: center;
    list-style-type: none;
    text-decoration: none;
    color: white !important;
}

nav ul li {
    margin: 40px;
}

.active {
    font-weight: bolder;
}

body {
    background-color: #edf2f4;
    font-family: Rubik-Regular;
}

.container {
    /* background-color: #eff6e0; */
    margin-top: 100px;
    margin-bottom: 100px;
}

 .jumbotron {
    font-family: 'Fugaz';
    background-color: #edf2f4;
     color: #fe4f36;
    background-image: url(./assets/shibu_inu.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
     background-position: top;
     background-size: contain;
     padding-top: 50px;
     margin-top: 100px;
     margin-bottom: 100px;
     padding: 100px;
     height: 15em;

     box-shadow: 0 4px 10px 0 rgb(0 0 0 / 20%), 0 4px 20px 0 rgb(0 0 0 / 19%);
 } 

h1, h2, h3, h4 {
    font-family: 'Fugaz';
    color: #fe4f36;
}

h1 {
    font-size: 100px;
}

